@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
}

/* .excuse{
    margin: 5px;
    background-color: #EC5228;
    width: 60%;
    height: 70px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
} */

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
